<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="TTN_QuanLyNhanSuEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHU-TUAN-KIET;initial catalog=TTN_QuanLyNhanSu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="THUVIEN123Entities" connectionString="metadata=res://*/ctk.csdl|res://*/ctk.ssdl|res://*/ctk.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHU-TUAN-KIET;initial catalog=THUVIEN123;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="THUVIEN123Entities1" connectionString="metadata=res://*/ModelThuVien.csdl|res://*/ModelThuVien.ssdl|res://*/ModelThuVien.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHU-TUAN-KIET;initial catalog=THUVIEN123;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="THUVIEN123Entities2" connectionString="metadata=res://*/model1.modelThuVien.csdl|res://*/model1.modelThuVien.ssdl|res://*/model1.modelThuVien.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHU-TUAN-KIET;initial catalog=THUVIEN123;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="THUVIENMTAEntities" connectionString="metadata=res://*/model.Model1.csdl|res://*/model.Model1.ssdl|res://*/model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHU-TUAN-KIET;initial catalog=THUVIENMTA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="THUVIENMTAEntities1" connectionString="metadata=res://*/temp.Model1.csdl|res://*/temp.Model1.ssdl|res://*/temp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHU-TUAN-KIET;initial catalog=THUVIENMTA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LibraryManager.Properties.Settings.THUVIENMTAConnectionString" connectionString="Data Source=CHU-TUAN-KIET;Initial Catalog=THUVIENMTA;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Licensing" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>